*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 400 14px/1.25 Be Vietnam;
    background-color: #eaeef1;
}
.section{
    float: left;
    width: 100%;
}
.container{
    width:100%;
    margin: 0 auto;
}
.top-content div{
    float: left;
    width: 100%;
    list-style: none;
    margin-bottom: 15px;
}
.between-content div{
    float: right;
    width: 100%;
    list-style: none;
    margin-bottom: 55px;
}